[Unit]
Description=Create a daily BitCraft Claim Monitor database backup

[Timer]
OnCalendar=*-*-* 03:30:00 Europe/London
RandomizedDelaySec=15m
Persistent=true

[Install]
WantedBy=timers.target
